
 <main role="main" class="container blog-post-detail">
        <div class="row">
            <div class="blog-post-detail-card card col-lg-12">
			
                @Html.Sitecore().Field("SmallImages")
                <div class="card-body bg-light">
                    <h3 class="card-title">@Html.Sitecore().Field("Title")</h3>
                    <div class="mb-1 text-muted">@Html.Sitecore().Field("CreatedDate")</div>

                    @Html.Sitecore().Field("LongDescription")

                    @if (@Html.Sitecore().Field("Title").ToString() != "404")
                    { 
                        <div class="blog-detail-tag-list">
                            <span class="read-more-heading">Read more: </span>
                            <a class="btn btn-info" href="#" role="button">Tag</a>
                            <a class="btn btn-info" href="#" role="button">Super Extra Long Tag</a>
                            <a class="btn btn-info" href="#" role="button">Extra Long Tag</a>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </main>
	
	
